.title {
    margin-top: 20px;
    font-size: 25px;
    color: #333;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.chartContainer {
    display: flex;
    margin-top: 20px;
    width: 100%;
    column-gap: 20px;
}
